# Ambiente virtuale
.venv/

# Dati e Dataset (PhysioNet, ecc.)
data/

# Cartella di sistema Git
.git/

# Script di configurazione specifica
setup_progetto.ipynb

# File temporanei Python e Notebook
__pycache__/
*.pyc
.ipynb_checkpoints/